node-red/.flows.json.backup
[{"id":"b00afaa6.2c5c48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f00b4113.003b5","type":"mqtt-broker","name":"mqtt.eclipse.org","broker":"172.19.0.2","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"886bae33.e91548","type":"inject","z":"b00afaa6.2c5c48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":120,"wires":[["788a48cb.3b3958"]]},{"id":"788a48cb.3b3958","type":"mqtt out","z":"b00afaa6.2c5c48","name":"","topic":"example/topic","qos":"1","retain":"true","broker":"f00b4113.003b5","x":570,"y":120,"wires":[]},{"id":"83c04b2d.53aa28","type":"debug","z":"b00afaa6.2c5c48","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":700,"y":340,"wires":[]},{"id":"34e12c07.989f24","type":"mqtt in","z":"b00afaa6.2c5c48","name":"","topic":"example/topic","qos":"2","datatype":"utf8","broker":"f00b4113.003b5","x":300,"y":280,"wires":[["83c04b2d.53aa28"]]}]